<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Checkbox</title>
</head>
<body>
	
	<div id="app">
		<form>
			<input type="checkbox" id="john" value="John" v-model="names">
			<label for="john">John</label>
			<input type="checkbox" id="jack" value="Jack" v-model="names">
			<label for="jack">Jack</label>
			<input type="checkbox" id="mick" value="Mick" v-model="names">
			<label for="mick">Mick</label>
		</form>
		Checked names: {{ names }}
	</div>

</body>

<script src="https://unpkg.com/vue"></script>
<script>
	var vm = new Vue({
		el: '#app',
		data: {
			names: []
		}
	})
</script>
</html>